:root {
    --main: #edfeeb;
    --contrast: #f8512f;
    --secondary: #cfe0cd;
    --contrast-back: #f8f9e9;
}

#background{
    background: url("https://wallpapercave.com/wp/dwwIVzJ.jpg") no-repeat center center;
    background-size: 100vw 100vh;

    height: 100vh;
    width: 100vw;

    position: fixed;

    filter: brightness(0.4);
    z-index: -1;
}

#needlog{
    height: 100vh;
    width: 100vw;
}

h1 {
    padding: 1vw 0 1vw 2vw;
    color: #DDDDDD;
    font-weight: 900;
    font-size: 3em;
    font-family: 'telegraficoregular', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    padding: 0 0 1vh 0;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

nav span {
    margin: 0 1vw;
    flex-grow: 1;
}

nav a {
    color: #DDD;
    font-family: "telegraficoregular", sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #FFF;
}

nav .selected a {
    color: #7FDBFF;
}



.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    position: relative;
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid {
    position: relative;
    display: inline-grid;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    grid-row-gap: 15px;
    width: 100%;
}

@media all and (min-width: 550px) {
    .grid.both{
        width: calc(100% - 250px) !important;
    }
}

@media all and (min-width:   0px ) and (max-width: 550px ) {
    .grid.alone{ grid-template-columns: repeat(1 , 250px); }
}
@media all and (min-width: 550px ) and (max-width: 800px ) {
    .grid.alone{ grid-template-columns: repeat(2 , 250px); }
    .grid.both { grid-template-columns: repeat(1 , 250px); }
}
@media all and (min-width: 800px ) and (max-width: 1050px) {
    .grid.alone{ grid-template-columns: repeat(3 , 250px); }
    .grid.both { grid-template-columns: repeat(2 , 250px); }
}
@media all and (min-width: 1050px) and (max-width: 1300px) {
    .grid.alone{ grid-template-columns: repeat(4 , 250px); }
    .grid.both { grid-template-columns: repeat(3 , 250px); }
}
@media all and (min-width: 1300px) and (max-width: 1550px) {
    .grid.alone{ grid-template-columns: repeat(5 , 250px); }
    .grid.both { grid-template-columns: repeat(4 , 250px); }
}
@media all and (min-width: 1550px) and (max-width: 1800px) {
    .grid.alone{ grid-template-columns: repeat(6 , 250px); }
    .grid.both { grid-template-columns: repeat(5 , 250px); }
}
@media all and (min-width: 1800px) and (max-width: 2050px) {
    .grid.alone{ grid-template-columns: repeat(7 , 250px); }
    .grid.both { grid-template-columns: repeat(6 , 250px); }
}
@media all and (min-width: 2050px) and (max-width: 2300px) {
    .grid.alone{ grid-template-columns: repeat(8 , 250px); }
    .grid.both { grid-template-columns: repeat(7 , 250px); }
}
@media all and (min-width: 2300px) and (max-width: 2550px) {
    .grid.alone{ grid-template-columns: repeat(9 , 250px); }
    .grid.both { grid-template-columns: repeat(8 , 250px); }
}
@media all and (min-width: 2550px) and (max-width: 2800px) {
    .grid.alone{ grid-template-columns: repeat(10, 250px); }
    .grid.both { grid-template-columns: repeat(9 , 250px); }
}
@media all and (min-width: 2800px) and (max-width: 3050px) {
    .grid.alone{ grid-template-columns: repeat(11, 250px); }
    .grid.both { grid-template-columns: repeat(10, 250px); }
}
@media all and (min-width: 3050px) and (max-width: 9999px) {
    .grid.alone{ grid-template-columns: repeat(12, 250px); }
    .grid.both { grid-template-columns: repeat(11, 250px); }
}

#select {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    color: white;
    font-weight: bold;

    border-radius: 10px;
    padding: 10px;
    background: #ffffff66;
}

input {
    margin: 3px;
    padding: 9px;
    border-radius: 100px;
}

input[type=text], input[type=password] {
    background: rgba(0,0,0,0.7);
}

input[type="submit"] {
    color: white;
    background: rgb(226, 198, 16);
    margin: 3px 3px 10px 3px;
}

.status {
    font-family: 'telegraficoregular', sans-serif;
    padding-left: 15px;
    border-radius: 5px 5px 0 0;
}

.status-0 { /* Temporary */
    background: #0074D9;
}

.status-1 { /* Published */
    background: #3D9970;
}

.status-2 { /* Sell */
    background: #FFDC00;
}

.status-3 { /* Sell */
    background: #FF4136;
}

.sale {
    display: block;
    width: 250px;
    background: #f8f9e9aa;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 100px;
    border-radius: 5px;
}

.sale .content {
    position: relative;
    height: calc( 100% - 1em );
}

.title {
    position: absolute;
    top:  2px;
    left: 2px;
    font-size: 1.3em;
}

.views {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.9em;
}

.description {
    position: absolute;
    top: calc( 1.3em + 4px );
    left: 2px;
    height: 2.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 196px;
}

.price {
    position: absolute;
    left: 2px;
    bottom: 2px;
}

.date {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.click {
    cursor: alias;
}

.error {
    color: #FF4136;
    text-align: center;
}

#sales-mine-list {
    position: relative;
    display: inline-grid;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    grid-row-gap: 15px;
}

.sale-mine {
    display: block;
    width: 220px;
    background: #f8f9e9aa;
    flex-wrap: wrap;
    flex-shrink: 0;
    border-radius: 5px;
}

.sale-mine .title {
    text-align: center;
    position: static;
}

.fa{ font-size: 0.8em; }